{% extends 'base.html' %}

    {% block container %}

    <div class="col-12 col-sm-10 col-lg-6 offset-lg-3 offset-sm-1">
      <form action="/request/" class="card mb-5" method="POST">
        {{ form.csrf_token() }}
        <div class="card-body text-center pt-5">
          <h1 class="h3 card-title mt-4 mb-2">Подбор преподавателя</h1>
          <p class="px-5">Напишите, чего вам нужно и&nbsp;мы&nbsp;подберем отличных&nbsp;ребят</p>
        </div>
        <hr>
        <div class="card-body mx-3">
          <div class="row">
            <div class="col">
              <p>Какая цель занятий?</p>
                {% for goal in form.goal %}
              <div class="form-check ">
                {{ goal(class="form-check-input", required="required") }}
                {{ goal.label(class="form-check-label") }}
              </div>
              {% endfor %}
            </div>
            <div class="col">
              <p>Сколько времени есть?</p>
              {% for time in form.time %}
              <div class="form-check">
                {{ time(class="form-check-input", required="required") }}
                {{ time.label(class="form-check-label") }}
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <hr>
        <div class="card-body mx-3">
          {{ form.name.label(class="mb-1 mt-2") }}
          {{ form.name(class="form-control") }}
          {{ form.phone.label(class="mb-1 mt-2") }}
          {{ form.phone(class="form-control", placeholder="89110001122") }}

          {% for err in form.phone.errors %}
            <p></p><p class="alert-warning">{{ err }}</p>
          {% endfor %}
          {{ form.submit(class="btn btn-primary mt-4 mb-2") }}
        </div>
      </form>
    </div>

  {% endblock %}